
@{
    ViewData["Title"] = "عن بانوتشي";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section HeaderContainer{

    <div class="wthree-heading">
        <h2> عن بانوتشي </h2>
    </div>
}

<!-- about -->
<!-- banner-bottom -->
<div class="banner-bottom" id="about">
    <div class="container">
        <div class="col-md-6 banner_bottom_left">
            <h2> مطاعم وكافيهات بــانــــوتشــــي </h2>
            <p>
                <i>يمكنك اختيار ذوقك في الطعام</i>
                يعد مطعم بانوتشي من اول المطاعم والكافيهات داخل مصر التي لها شكل ومذاق مختلف . فهو اول مطعم يصمم بشكل ديكوري يناسب الاسر والافراد لقضاء وقت مميز به .. فهو منذ ان نشات الفكرة حرصنا علي ان نقدم للعميل تجربة تغنية عن اللجو للتنزة خارج القاهرة
                لان في مطعم ابانوتشي سيجد كل احتياجته من فخامة في الاستقبال الي هدوء ،راحة في قضاء الوقت الي طعم ومذاق جيد جدا لنجعل من زيارته تجربة مريحة وسعيدة له ولاسرتة . ان غاية هدفنا في مطعم بانوتشي هو رضاء عملانا بان تجد كل ما تتمناه وتقضي وقت سعيد
                .
            </p>
        </div>
        <div class="col-md-6 banner_bottom_right">
            <div class="wthree_banner_bottom_right_grids">
                <div class="col-md-6 banner_bottom_right_grid">
                    <div class="view view-tenth">
                        <div class="agile_text_box">
                            <i class="far fa-star" aria-hidden="true"></i>
                            <h3> التميز </h3>
                            <p>التميز في تقديم الأطباق والإختلاف عن المطاعم الأخرى.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 banner_bottom_right_grid">
                    <div class="view view-tenth">
                        <div class="agile_text_box">
                            <i class="far fa-lightbulb" aria-hidden="true"></i>
                            <h3> الإبتكارية </h3>
                            <p> الإبتكارية في طريقة التقديم أو الإضافات في الطبق.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_banner_bottom_right_grids">
                <div class="col-md-6 banner_bottom_right_grid">
                    <div class="view view-tenth">
                        <div class="agile_text_box">
                            <i class="fas fa-users" aria-hidden="true"></i>
                            <h3> طاقم العمل </h3>
                            <p> طاقم يعمل تحت ضغط الزحام .</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 banner_bottom_right_grid">
                    <div class="view view-tenth">
                        <div class="agile_text_box">
                            <i class="fas fa-hand-holding-usd" aria-hidden="true"></i>
                            <h3> الاسعار </h3>
                            <p> أسعار تناسب الجودة المقدمة.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- banner-bottom -->
<!-- team 
<div class="team jarallax">
    <div class="container">
        <div class="pa-agile-heading news-heading">
            <h3> طاقـــــم العمـــــل</h3>
        </div>
        <div class="agile_team_grids">
            <div class="col-md-3 agile_team_grid">
                <div class="view pa-agile-view">
                    <img src="images/t4.jpg" alt=" " class="img-responsive" />
                    <div class="panumask">
                        <h5> الشيف حمودي </h5>
                        <p> الشيف حمودي طباخ شاطر اوي ياسعاد هانم </p>


                    </div>
                </div>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view pa-agile-view">
                    <img src="images/t2.jpg" alt=" " class="img-responsive" />
                    <div class="panumask">
                        <h5> الشيف حمودي </h5>
                        <p> الشيف حمودي طباخ شاطر اوي ياسعاد هانم </p>


                    </div>
                </div>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view pa-agile-view">
                    <img src="images/t1.jpg" alt=" " class="img-responsive" />
                    <div class="panumask">
                        <h5> الشيف حمودي </h5>
                        <p> الشيف حمودي طباخ شاطر اوي ياسعاد هانم </p>


                    </div>
                </div>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view pa-agile-view">
                    <img src="images/t2.jpg" alt=" " class="img-responsive" />
                    <div class="panumask">
                        <h5> الشيف حمودي </h5>
                        <p> الشيف حمودي طباخ شاطر اوي ياسعاد هانم </p>


                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- choose -->
<div class="pa-agileits-choose">
    <div class="container">
        <div class="pa-agile-heading">
            <h3> لماذا مطعم وكافية بانوتشي ؟ </h3>
        </div>
        <div class="agile-choose-grids">
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fas fa-star-of-life" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4> نطبق قواعد الأمن الغذائي الصحي </h4>
                    <p>
                        من الضروري جدا في الطعام التجهيز بأسلوب صحي مع تخزين جيد , حتي نتفادي الامراض التي تنقلها بعض الأطعم المعدة بطريقة خاطئة والتي بدورها تتسبب في الكثير من الأمراض والتسمم الغذائي , لذلك يجب علي كل مطعم ان يتبع في طريقة تجهيزه للوجبات
                        أساليب الأمن الغذائي والصحة , مع توافر شهادة صحية مرخصة من قبل وزارة الصحة ومعلقة للمطالعة من قبل العملاء لضمان صحتهم وشعورهم بالأطمئنان .وغير ذلك التأكد من توافر النظافة في كل مايحيط بك من طاولات وأرضيات والأدوات ومن طاقم العمل داخل
                        المطبخ وخارجه ونادل الطعام , وأيضا ضرورة أنبعاث معطرات جوية وأرضية تبعث في النفس الرضا بالمكان ونظافته.. وبهذه الطريقة يشعر العملاء أنهم في أيدي أمينة علي صحتهم .
                    </p>
                </div>
            </div>
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fas fa-list" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4> لدينا قائمة طعام بها خيارات صحية </h4>
                    <p>
                        هناك علاقة وطيدة بين جودة المطعم و بين إحتوائه على قائمة أطباق شهية .ولكن مذاق الطعام الشهي يحتل أولويات أختيار المطعم. ولكنها وجهة نظر قد تضر بصاحبها فيجب أن يركز على المزايا الصحية والتي تناسب طبيعة جسمه.. أذا كانت ممنوعا من بعض
                        الأصناف الضاره علي صحته , فالأن نجد الكثير من المطاعم الجيدة تقدم قائمة طعام تضم أصناف خاصة صحية وتتوفربها أطباق قليلة السعرات الحرارية, و الدهون و الأملاح و السكر.مع مزيد من الفواكه و الخضروات الطبيعية المعدة علي البخار مثلا او مدخنة
                        او مسلوقة و من الأفضل أن تتناول الطعام في هذه المطاعم التي تركيز على الجوانب الصحية لتناول الطعام والتي تقوم بتقديم قائمة مجهزة بالمعلومات الغذائية حتى يصبح العميل على علم بكمية السعرات الحرارية التي يتناولها و المواد الغذائية الأخرى
                        الموجودة في وجبة معينة أو العناصر الغذائية التي تسهل عليهم وتساعدهم على الإختيار بحكمة . فعليك أن لا تتخلى عن متعة تناول الطعام في الخارج خاصة إذا كنت تعاني من مرض معين أو أنك تتبع نظام خاص لإنقاص الوزن لأن الأمرفقط يحتاح منك بعض العناء
                        في البحث أثناء أختيارك للمطعم بضرورة توافر القائمة الصحية للطعام ..
                    </p>
                </div>
            </div>
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fas fa-comment-slash" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4> نوفر أجواء هادئة مريحة </h4>
                    <p>
                        عندما تود الخروج من المنزل لقضاء وقت لطيف ومريح فعليك بأختيار المكان المناسب الذي تجد فيه ماتتمني وخصوصا اذا كنت تنوي تناول وجبة شهية , فلاسيما لو كان المطعم الذي قمت بأختياره يوفر أجواء هادئة مريحة مع موسيقي خفيفة , ويحرص المطعم
                        بتوافر جو من الخصوصية , فأختيار المطعم الجيد لابد أن يكون حريصا علي راحة وأرضاء العملاء وهذه الميزة تعتبر من أولويات كثير من الأشخاص في أختيارهم للمطعم الذين يذهبون اليه ,وعند شعورك بالراحة والخصوصية ستتمكن من قضاء وقت أطول مع من تقابلة
                        علي مائدة الطعام , وأصبح من الضروري علي أصحاب المطاعم بعمل أجواء لطيفة متعددة في مطاعمهم لجذب كثير من العملاء وتشعرهم بالاختلاف والتميز عن باقي المطاعم وهذه الأجواء تبعث للنفس الراحة والهدوء ومزيد من الرضا وتجذب اليهم الكثير من العملاء
                        وربما يصبح المطعم المفضل لديهم ..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //choose -->
<!-- //about -->
